body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

h1{
    color: #553353;
    text-align: center;
    padding: 20px 20px;
}

#start {
    background-color: #9da2af; 
    border: none;
    color: white;
    padding: 10px 28px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 2px;
}

#start:active{
    background-color: #87ad78;
}

#restart {
    background-color: #9da2af; 
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 2px;
}
#restart:active{
    background-color: #cf8a77;
}

#timer{
    padding: 20px 20px;
}
.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    display: inline-block;
    margin: 10px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background-image: url("assets/images/card-back.jpg"); 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: #f1d3d6 3px solid;
}

.card-back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rgb(243, 231, 235); 
}

.card-back img {
    width: 90%;
    height: 90%;
    border-radius: 5px;
}
